# DataScience Course $\circ$ Python Programming $\circ$ Recap #1
By Dr Boontawee Suntisrivaraporn  
<img src="https://1.bp.blogspot.com/-J1gxIX6Cp9w/Wy-lUTT-LqI/AAAAAAADIss/i8oWgsmB9OY8nRMc21XH_BA7AUCGkuGFgCLcBGAs/s1600/logo2.jpg" width=600> 
<hr>

### Topics
- variable
- data types
    - numeric
    - character string
    - boolean
    - list
    - tuple
    - set
    - dictionary
- comparison
    - operators
    - if, else, elif
- for loop
- while loop
- range()

## Exercises
- Run provided codes prior to the exercise question, e.g. ``pi = math.pi``
- Add a **new cell** to try your code
- Type in Python code in the box to get the results as displayed right below

__Warning__: results will be replaced, so make sure you add a new cell to try your code

In [1]:
import math
pi = math.pi
age_earth = 4.543*1e9
source = "glassdoor.com"
ds_sal = 118000
ls_data = [2, 3, 5, 7, 11, 13, 17]
dict_data = {
    'path'  : "./data/",
    'file'  : "Purchases",
    'ext'   : ".csv",
    'sep'   : "|",
}
odd_numbers = [i for i in range(100) if i%2==1]

** $\Rightarrow$ Print the sentence with your name and hobby
**

My name is Meng, and my hobby is biking.

**$\Rightarrow$ Print the following information using the method `.format()` and the variable `age_earth`
**

Add comma for better readability

The estimated age of the earth is 4,543,000,000.

**$\Rightarrow$ Print the following information using the method `.format()` and the variable `pi`
**

Only two decimal points should be displayed

The area of a circle of radius 2 is 12.57.

**$\Rightarrow$ Test if `77` is an odd number using `in` operator
**

True

**$\Rightarrow$ Test of the sum of all values in `odd_numbers` is greater than 2000. If so, print "greater". Otherwise, print "smaller"
**

greater

** $\Rightarrow$
Format a string (no printing) using two variables `source` and `ds_sal`
**

Note that there is an output prompt without printing

'As per [glassdoor.com] the average salary of a data scientist in US is $118,000'

**$\Rightarrow$ 
Create a list of even numbers between 2 and 18 using `range()` 
**

[2, 4, 6, 8, 10, 12, 14, 16, 18]

**$\Rightarrow$ 
Write a `for` loop using `range` to print out the following
**

@@@@@@@@@@
@@@@@@@@@
@@@@@@@@
@@@@@@@
@@@@@@
@@@@@
@@@@
@@@
@@
@
#
##
###
####
#####
######
#######
########
#########
##########

**$\Rightarrow$ 
Use list comprehension to generate $x^2$ for each value $x$ in `ls_data`
**

[4, 9, 25, 49, 121]

**$\Rightarrow$ 
Use list comprehension to select values in `ls_data` that are less than `10`
**

[2, 3, 5, 7]

**$\Rightarrow$ 
Access the dictionary `dict_data` to get the file name with path and extension
**

'./data/Purchases.csv'

**$\Rightarrow$ 
Modify the `"sep"` element in `dict_data` to be character `","`
**

{'ext': '.csv', 'file': 'Purchases', 'path': './data/', 'sep': ','}

<hr>
## Finished !